*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
section{
    position: relative;
}
header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(hsla(0, 0%, 97%, .9), #9B8055);
    transition: 0.5s;
    /* background-image:  */
    /* background: url(/images/gradient-1.png); */
}
/* header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,.1);
} */

/* Head of body*/
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-inline: 5vw;
    padding-top: 20px;
}
.icons{
    display: flex;
    gap: 20px;
}
.bar{
    position: relative;
    width: 25px;
    height: 3px;
    background-color:#9B8055;
    border: 2px solid;
    border-color: hsla(0, 0%, 97%, .9);
    border-radius: 10px;
}
/* Navigation */
.menu{
    display: none;
    flex-direction: column;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #9B8055;
    position: fixed;
    z-index: 999;
    width: 90vw;
    margin-top: 35px;
}
.menu li{
    list-style: none;
    padding: 15px;
    text-align: center;
}
.menu li a{
    text-decoration: none;

    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #9B8055;
}
.menu li a:hover{
    border-bottom: 2px solid #9B8055;
}

/* Main body content */
.center{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7vh;
    top: 25vh;
    width: 100vw;
    animation: fadeIn 2s;
}
.center img{
    width: 200px;
    transition: 0.5s;
}
.caption{
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0 25px;
}
.thumb{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    padding: 5px;
    border: 2px solid rgba(255,255,255,.1);
}
.thumb li.active{
    border: 2px solid rgba(255,255,255,1);
}
.thumb li::before{
    position: absolute;
    bottom: 150%;
    right: 0;
    white-space: nowrap;
    content: attr(data-text);
    font-size: 4rem;
    color: rgba(0,0,0,.05);
    opacity: 0;
    font-weight: 700;
    pointer-events: none;
}
.thumb li.active::before{
    opacity: 1;
}
.thumb li img{
    max-width: 50px;
}
.foo{
    position: absolute;
}

/* This area is for animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* for desktop site */
@media only screen and (min-width: 768px) {
    .bar {
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: initial;
        border: initial;
        margin-top: 0;
        gap: 20px;
        position: absolute;
    }
    .menu li{
        padding: 0;
    }
    .foo{
        right: 5%;
    }
    .sample_content{
        display: none;
        max-width: 55%;
        font-family: Roboto;
        margin-top: 10%;
        padding-inline: 3%;
        color: #ffffff;
    }
    .sample_content h1{
        font-size: 3.5rem;
        text-transform:capitalize;
    }
    .sample_content p{
        font-size: 1.1rem;
        line-height: 23px;
    }
}